/* BACKGROUND */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 150vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}



/* HOME PAGE */

.homepage {
  margin-top: 200px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#inputfield:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  background: #b82455;
}
button:hover {
  background: #6d1633;
  color: #fff;
}

/* SWITCH PAGE */


.switchpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#question {
  font-size: 2.7em;
  font-family: 'Montserrat', sans-serif;
}

#inputfield {
  width: 650px;
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: text;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}


/* ACTIVITY PAGE */
.box-row, .box-row p {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.button-row {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}








/* CHECKOUT PAGE */

.summarybox {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.summarybox tr #total {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

thead {
  font-size: 40px;
  
}

td {
  text-align: center;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  box-shadow: -2px 3px 3px 2px rgba(0, 0, 0, 0.3);
}